*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  min-height: 100vh;
  background-color: black;


   display: flex;
   flex-direction: column;
  align-items: center;
  
}
.form-container{
  background-color: #fff;
  max-width: 700px;
  margin-top: 5vh;
  min-height: 500px;
  width: 100%;
  padding: 5vw;


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.add-div{
  width: 100%;
  
}
.add-div button{
  border: 2px solid ;
  height: 29px;
  width: 60px;
  border-radius: 5px;
}
.create-form, .update-form {
  width: 100%;
  display: none;
  gap: 1vw;

}
.create-form input{
  border: 2px solid greenyellow;
  height: 29px;
  border-radius: 5px;
  flex-grow: 1;
}
.create-form button{
  border: 2px solid ;
  height: 29px;
  width: 60px;
  border-radius: 5px;
}
.update-form input{
  border: 2px solid greenyellow;
  height: 29px;
  border-radius: 5px;
  flex-grow: 1;

}
.update-form button{
  border: 2px solid ;
  height: 29px;
  width: 60px;
  border-radius: 5px;
}
table{
  width: 100%;
  border: 2px solid ;
}

